/*GLOBAL STYLING*/
* {
  font-family: "sofia-pro", sans-serif !important;
}
Body {
  background-color: rgb(255, 255, 255);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  margin: 1em;
}

/* WRAPPER FÖR GRAFER */
.wrapper {
  width: 100vw;
  height: 100vh;
}

/* LOGOTYP */
.app-logo {
  max-height: 5vh;
}
.logo-container {
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
}

/* MENY */
.navbar {
  background-color: #ffffff !important;
  width: 100vw !important;
  font-weight: 600;
}
.navbar-climate p {
  color: #4b9aa8;
}
.navbar-climate p:hover {
  color: #6ec5d4;
}

.h1-heding {
  color: #1b1b1b !important;
  font-weight: 400;
}

.data-container {
  min-height: 100vh;
}

@media only screen and (min-width: 400px) {
  .data-container {
    background-size: cover;
  }
}
@media only screen and (min-width: 1000px) {
  .data-container {
    background-size: 100%;
  }
}
.home-about {
  background-color: rgb(255, 255, 253);
  height: 100%;
}
