/*GLOBAL STYLING*/
* {
  font-family: "sofia-pro", sans-serif !important;
  padding: 0;
  margin: 0;
}
Body {
  background-color: rgb(255, 255, 255);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  margin: 1em;
  
  
}

/* WRAPPER FÖR GRAFER */
.wrapper {
  width: 100vw;
  height: 100vh;
}

/* LOGOTYP */
.app-logo {
  max-height: 7vh;
  max-width: 35vw;
  margin-left: -.4em;
}
.logo-container {
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
}

/* MENY */
.navbar {
  background-color: rgba(255, 255, 255, 0) !important;
  width: 100vw !important;
  font-weight: 600;
}
.navbar-climate p {
  color: rgb(100, 97, 72);
  opacity: 70%;
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: 0.3rem;
}
.navbar-climate p:hover {
  opacity: 100%;
  font-weight: 900;
}
.active p {
  opacity: 100%;
  font-weight: 900;
}

.h1-heding {
  color: #1b1b1b !important;
  font-weight: 400;
}

.data-container {
  min-height: 100vh;
  background-size: cover;
}

.home-about {
  background-color: rgb(255, 255, 253);
  height: 100%;
}
/* Tar bort pilen i dropdownen */
.dropdown-toggle::after {
  display: none;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgb(255, 255, 253);
}
.dropdown-menu {
  min-width: 40vw;
}
.dropdown-item {
  display: flex;
}

/* overlay */
.overlay-graf,
.overlay-text {
  position: absolute;
}
.overlay-text {
  z-index: 10;
}

.link-text {
  color: blue;
}

/* @media only screen and (max-width: 767px) {
  .navbar-collapse,
  .navbar-climate {
    background-color: rgb(255, 255, 255);
  }
  .navbar-collapse {
    height: 100vh;
  }
  .nav-link {
    display: block !important;
  }
} */

/* .dropdown img,
.dropdown p {
  display: inline !important;
} */
#nav-dropdown {
  padding: 0;
  margin: 0;
}

.navbar-climate,
.data-container {
  position: absolute;
}
.navbar-climate {
  z-index: 20;
}
.dropdown-menu-mobil .nav-item .dropdown-menu {
  background-color: royalblue;
  display: flex !important;
  flex-direction: column !important;
}

/*tar bort boarder från alla element (t ex menyknapparna) */
*:focus {
  outline: none;
}
.recharts-legend-wrapper {
  padding-top: 1.1rem !important;
}

.modal-header {
  border: none;
  padding-bottom: 0;
}
.egen-btn,
.egen-btn:active,
.egen-btn:hover {
  background-color: rgb(255, 255, 255, 0);
  border: none;
}
.show > .btn-primary.egen-btn {
  background-color: rgb(255, 255, 255, 0);
  border: none;
}

tr:nth-child(even) {
  background-color: #b9d1e4;
}

tr:nth-child(odd) {
  background-color: #deebf8;
}

th {
  background-color: rgb(255, 255, 253) !important;
  color: #83a9cf;
}

h1 {
  color: rgb(158, 145, 127);
}

.searchButton {
  margin-top: 1em !important;
  background-color: #80c7a9 !important;
  border: none !important;
  margin-top: 2em !important;
}

button:hover {
  background-color: #95c0e4 !important;
}

.aboutText {
  margin-top: 0em !important;
}

.mobil-menu-img {
  margin-left: -1em !important;
}

.ekoAvtLink:hover {
color: darkgreen;
cursor: pointer;
}
